:root {
    --primary: #ffff00;
    --font-Montserrat: "Montserrat";
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-family: var(--font-Montserrat), sans-serif;
    color: white;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.otf")
}

.stats-title {
    font-size: 1.5em;
    font-weight: bold;
}
.stats-description {
    font-size: 0.9em;
}

.play-button {
    width: 15em;
    height: 3em;
}

.option-button {
    margin-top: 30%;
    height: 100%;
    width: 100%;
}

.top-container {
    padding-top: 60px !important;
    height: 60vh;
    background-image: url(@/assets/vgogh.jpg);
}

.bot-container {
    padding: 9%;
    height: 35vh;
    background-color: #181818;
}

.footer-container {
    font-size: 0.9rem;
    height: 5vh;
    background-color: #373737;
    color: #d9d9d9;
}
.footer-container .row {
    padding-top: 10px;
}
.contact a {
    margin-right:20px;
}

.contact a svg {
    fill: white;
}

.contact a svg:hover {
    fill: grey;
}

.title {
    font-size: 3em;
    font-weight: bold;
    padding-top: 5%;
    color: white;
}

.description {
    color: white;
    padding-bottom: 2%
}
